# This workflow performs a static analysis of your Kotlin source code using Detekt.
#
# Scans are triggered:
# 1. On every push to default and protected branches
# 2. On every Pull Request targeting the default branch
# 3. On a weekly schedule
# 4. Manually, on demand, via the "workflow_dispatch" event

name: Scan with Detekt

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]
  schedule:
     - cron: '29 13 * * 6'
  workflow_dispatch:

jobs:
  detekt:
    name: Scan
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Run Detekt
      run: ./gradlew detekt

    - name: Upload SARIF to GitHub
      uses: github/codeql-action/upload-sarif@v3
      if: success() || failure()
      with:
        sarif_file: build/reports/detekt/detekt.sarif
        checkout_path: ${{ github.workspace }}
